.song-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.song-info {
  flex: 1;
}

.song-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.song-author {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.song-controls {
  margin: 0rem 0rem 1rem;
}

audio {
  display: none;
}
