.loginBtn {
  display: flex;
  width: 8.625rem;
  padding: 0.64369rem 2.875rem 0.66138rem 2.875rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.85819rem;
  border: 0.687px solid var(--2, #503e74);
  background: #d0b8ff;
}

.loginBtn:hover {
  opacity: 0.8;
}
